<script type="application/ld+json">
{
  "@context":"https://schema.org",
  "@type":["Organization","NGO"],
  "name":"Wyoming Weapons Collectors Association",
  "alternateName":"WWCA",
  "url":"https://wwcashow.com/",
  "logo":"https://wwcashow.com/images/logo.png",
  "description":"A 501(c)(3) non-profit association of Wyoming firearms collectors, dedicated to firearms history, youth shooting education and the state's collecting traditions.",
  "foundingLocation":{"@type":"Place","name":"Wyoming, USA"},
  "address":{
    "@type":"PostalAddress","postOfficeBoxNumber":"P.O. Box 204",
    "addressLocality":"Lander","addressRegion":"WY",
    "postalCode":"82520-0204","addressCountry":"US"
  },
  "email":"WWCA@wyoming.com",
  "telephone":"+1-307-349-4914",
  "sameAs":["https://www.facebook.com/p/Wyoming-Weapons-Collectors-Association-WWCA-61576531526837/",
            "https://issuu.com/wyomingweaponscollectors"],
  "contactPoint":[{
    "@type":"ContactPoint","contactType":"general enquiries",
    "email":"WWCA@wyoming.com","telephone":"+1-307-349-4914","areaServed":"US"
  }]
}
</script>
