<script type="application/ld+json">
{
  "@context":"https://schema.org",
  "@type":["Organization","NGO"],
  "name":"Wyoming Weapons Collectors Association",
  "alternateName":"WWCA",
  "url":"https://wyomingweaponscollectors.com/",
  "logo":"https://wyomingweaponscollectors.com/images/logo.png",
  "description":"A 501(c)(3) non-profit association of Wyoming firearms collectors, dedicated to firearms history, youth shooting education and the state's collecting traditions.",
  "foundingLocation":{"@type":"Place","name":"Wyoming, USA"},
  "address":{
    "@type":"PostalAddress","postOfficeBoxNumber":"P.O. Box 204",
    "addressLocality":"Lander","addressRegion":"WY",
    "postalCode":"82520-0204","addressCountry":"US"
  },
  "email":"WWCA@wyoming.com",
  "telephone":"+1-307-349-4914",
  "sameAs":["https://www.facebook.com/p/Wyoming-Weapons-Collectors-Association-WWCA-61576531526837/",
            "https://issuu.com/wyomingweaponscollectors"],
  "contactPoint":[{
    "@type":"ContactPoint","contactType":"general enquiries",
    "email":"WWCA@wyoming.com","telephone":"+1-307-349-4914","areaServed":"US"
  }],
  "event":{
    "@type":"Event","name":"38th Annual Memorial Weekend Gun Show",
    "startDate":"2027-05-29","endDate":"2027-05-30",
    "url":"https://wyomingweaponscollectors.com/show.html",
    "location":{"@type":"Place","name":"Fremont County Fairgrounds",
      "address":{"@type":"PostalAddress","streetAddress":"1010 Fairgrounds Drive",
      "addressLocality":"Riverton","addressRegion":"WY","postalCode":"82501","addressCountry":"US"}}
  }
}
</script>
